.window{
    height: 100px;
    width: 100px;
    border: 1px solid;
    position: relative;
}
.slides{
    height:100px;
    background-color: #dddddd;
    width: 300px;
    position: absolute;
    transition: all 1s;
    z-index: -1;
}
